In [7]:
from datetime import datetime as dt

In [8]:
class Tasas:

  #def __init__(self,año,cap,tea,tna):
  # self.año = año
  # self.cap = cap
  # self.tna = tna
  # self.tea = tea

  def calculo_tna(self,tea):

     año = int(input("Ingrese los días del año: "))
     cap= int(input("Ingrese la periodicidad de capitalización en días: "))
     tna = ((1+tea)**(cap/año)-1)*(año/cap)
     return round(tna*100,5)


  def calculo_tea(self,tna):

     año = int(input("Ingrese los días del año: "))
     cap= int(input("Ingrese la periodicidad de capitalización en días: "))
     tea = ((1+tna/(año/cap))**(año/cap)-1)
     return round(tea*100,5)

In [19]:
Tasa1 = Tasas()

In [20]:
tea1  = 101/100

In [21]:
Tasa1.calculo_tna(tea1)

Ingrese los días del año: 366
Ingrese la periodicidad de capitalización en días: 30

71.84963

In [25]:
tna1 = 71.84963/100

In [26]:
Tasa1.calculo_tea(tna1)

Ingrese los días del año: 366
Ingrese la periodicidad de capitalización en días: 30

100.99999